# Every change requires review from a listed code owner.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners
* @adibhanna
