<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>markpad</string>
  <key>CFBundleIdentifier</key>
  <string>io.github.markpad</string>
  <key>CFBundleName</key>
  <string>Markpad</string>
  <key>CFBundleDisplayName</key>
  <string>Markpad</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.4.0</string>
  <key>CFBundleVersion</key>
  <string>0.4.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Markdown document</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>md</string>
        <string>markdown</string>
        <string>mdx</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Text document</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>txt</string>
        <string>log</string>
        <string>csv</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Data file</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>json</string>
        <string>yaml</string>
        <string>yml</string>
        <string>toml</string>
        <string>xml</string>
        <string>ini</string>
        <string>cfg</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Source code</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>py</string>
        <string>go</string>
        <string>js</string>
        <string>ts</string>
        <string>rs</string>
        <string>rb</string>
        <string>sh</string>
        <string>lua</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Web file</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>html</string>
        <string>htm</string>
        <string>css</string>
        <string>svg</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
  </array>
</dict>
</plist>
